.wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
    //线性背景色
    background-image: linear-gradient(to right, #0acffe 0%, #495aff 100%);
    > header{
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 66px;
        color: #D4D4EE;
    }
    > main{
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
    > footer{
        flex-shrink: 0;
    }
}
